.mainAuthPage {
    display: flex;
    height: 100vh; /* Set the height of the container to 100% of the viewport height */
}

.authPageImage,
.authPageForm {
    padding: 20px; /* Optional: Add padding for better spacing */
    box-sizing: border-box; /* Include padding in the element's total width and height */
    border: 1px solid #ccc; /* Optional: Add borders for visual separation */
}

.authPageImage {
    flex: 70%; /* Set the width of the image section */
    background: url('../assets/authPageBackground.jpg') center/cover;
}

.authPageForm {
    flex: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #ffffff;
}

.signupButton,
.loginButton {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: darkcyan;
    color: #ffffff;
}

.closeButton {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: darkcyan;
    color: #ffffff;
}

.authPageForm {
  display: flex;
  height: 100vh;
}

.signupForm {
  background-color: #ffffff;
  border-radius: 10px; /* Set curved boundaries */
  padding: 20px;
  box-sizing: border-box;
  width: 300px; /* Set width based on your design */
  margin: auto; /* Center the form horizontally */
}

.inputContainer {
  margin-bottom: 15px;
}

.inputContainer label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.inputContainer input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttonContainer {
  text-align: center;
}

.buttonContainer button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding-top: 10px;
  margin-top: 10px;
}

.buttonContainer button:hover {
  background-color: #45a049;
}

.popup {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.qrcontainer {
  width: 30vw;
  height: 30vw;

}